numpy 
sympy
matplotlib
datetime
pyjokes
requests
Pillow
Image
ImageGrab
gTTS
keyboard
key
playsound
pyttsx3
SpeechRecognition
openai
pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
